In [ ]:
def fullname(first_name, last_name):
    full_name = first_name + " " + last_name
    return full_name

def string_alternative(full_name):
    return full_name[::2]

def main():
    first_name = input("Enter your first name: ")
    last_name = input("Enter your last name: ")


    full_name = fullname(first_name, last_name)
    print("Full Name:", full_name)


    result = string_alternative(full_name)
    print("Every Other Character in Full Name:", result)

if __name__ == "__main__":
    main()

Enter your first name: Dheeraj
Enter your last name: annam
Full Name: Dheeraj annam
Every Other Character in Full Name: Derjanm

In [ ]:
l=[]
l1=[]
n=int(input("Enter number of customers:"))
for i in range(n):
  l.append(int(input()))
  l1.append(l[i]*2.54)
print(l)
print(l1)

Enter number of customers:4
150
155
145
148
[150, 155, 145, 148]
[381.0, 393.7, 368.3, 375.92]

In [ ]:
text = open("input.txt", "r")
d = dict()
for line in text:

    line = line.strip()
    line = line.lower()
    words = line.split(" ")
    for word in words:
        if word in d:
            d[word] = d[word] + 1
        else:
            d[word] = 1
file1 = open('output.txt', 'w')
s=""
for key in list(d.keys()):
    s+=key+ ":"+ str(d[key])+"\n"
file1.write(s)
file1.close()